nav
{
    text-align: right;
}
h1
{
    color: red;
    text-decoration: underline;
    text-align: center;
}
h3
{
    text-decoration: underline;
    text-align: center;
}
p
{
    color:blue;
    
}
.rightbox
{
    float: right;
}
li:nth-child(odd) {
    color: red;
}
li:nth-child(even) {
    color: blue;
}
iframe
{
    display: block;
    margin: auto;
}